workflows/2025-11-18/Athletes_API_-_Get_Workouts.json
{
  "createdAt": "2025-10-27T16:33:26.642Z",
  "updatedAt": "2025-10-27T17:22:56.972Z",
  "id": "qrHCxh23RipGCNTd",
  "name": "Athletes API - Get Workouts",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "athletes/workouts",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "7de6a622-05db-4878-9001-ab1a5c08c483",
      "name": "Webhook",
      "webhookId": "3aaa09f8-0615-4bd6-8f86-45b21aac15db"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  scheduled_date,\n  workout_type,\n  description,\n  duration_minutes,\n  target_tss,\n  intervals,\n  status\nFROM planned_workouts\nWHERE athlete_id = {{ $json.query.athlete_id }}\n  AND scheduled_date >= CURRENT_DATE\nORDER BY scheduled_date\nLIMIT 14;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "98714825-0571-4b38-83b9-81ecf13b3a0d",
      "name": "Execute a SQL query",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "3G9vGSZaDuDPmuEG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        0
      ],
      "id": "7b308ba2-8f4c-47b4-a9b7-f30d76d5317c",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "dd67d77d-fff9-4f18-97c1-9bdb59c38db4",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-10-27T16:33:26.642Z",
      "updatedAt": "2025-10-27T16:33:26.642Z",
      "role": "workflow:owner",
      "workflowId": "qrHCxh23RipGCNTd",
      "projectId": "ufF06KBZ4z9JxMTX",
      "project": {
        "createdAt": "2025-10-04T12:04:43.980Z",
        "updatedAt": "2025-10-04T16:49:46.916Z",
        "id": "ufF06KBZ4z9JxMTX",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}