workflows/2025-11-18/Download_Workout_File.json
{
  "createdAt": "2025-11-15T10:52:27.871Z",
  "updatedAt": "2025-11-15T13:29:48.915Z",
  "id": "5ibOJli5jgbFhswN",
  "name": "Download Workout File",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "workout-download",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "10f71960-d2fc-4517-a6c3-8ee3355aeffc",
      "name": "Webhook",
      "webhookId": "9f0090e9-2173-4164-82af-f6344f7e4d28"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  w.*,\n  a.ftp_watts,\n  a.name as athlete_name\nFROM planned_workouts w\nJOIN athletes a ON w.athlete_id = a.id\nWHERE w.id = {{ $json.query.workout_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "ca85e9b8-0382-4c3a-82b1-ba50d5b84b53",
      "name": "Get Workout from Database",
      "credentials": {
        "postgres": {
          "id": "3G9vGSZaDuDPmuEG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{ $binary.data.fileName }}\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        0
      ],
      "id": "cfa30814-8d69-417a-b3e3-7d66959b5058",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Get workout data from previous node\nconst workout = $input.first().json;\n\n// Handle intervals - could be array, object, or string\nlet intervals = [];\nif (Array.isArray(workout.intervals)) {\n  intervals = workout.intervals;\n} else if (typeof workout.intervals === 'string') {\n  intervals = JSON.parse(workout.intervals);\n} else if (workout.intervals && typeof workout.intervals === 'object' && Object.keys(workout.intervals).length > 0) {\n  intervals = [workout.intervals];\n}\n\n// For rest days or workouts with no intervals, create a simple rest structure\nif (intervals.length === 0) {\n  intervals = [{\n    type: 'rest',\n    duration: 1800,\n    power_pct: 50,\n    cadence: 60\n  }];\n}\n\n// Helper: Convert power percentage to decimal for Zwift\nconst pctToDecimal = (pct) => (pct / 100).toFixed(2);\n\n// Helper: Map interval type to Zwift XML element\nconst generateIntervalXML = (interval) => {\n  const power = pctToDecimal(interval.power_pct);\n  const duration = interval.duration;\n  const cadence = interval.cadence || 90;\n  \n  switch(interval.type) {\n    case 'warmup':\n      return `    <Warmup Duration=\"${duration}\" PowerLow=\"0.50\" PowerHigh=\"${power}\" Cadence=\"${cadence}\"/>`;\n    case 'cooldown':\n      return `    <Cooldown Duration=\"${duration}\" PowerLow=\"${power}\" PowerHigh=\"0.50\" Cadence=\"${cadence}\"/>`;\n    case 'rest':\n      return `    <SteadyState Duration=\"${duration}\" Power=\"${power}\" Cadence=\"${cadence}\"/>`;\n    case 'interval':\n    case 'work':\n    case 'steady':\n      return `    <SteadyState Duration=\"${duration}\" Power=\"${power}\" Cadence=\"${cadence}\"/>`;\n    case 'recovery':\n      return `    <SteadyState Duration=\"${duration}\" Power=\"${power}\" Cadence=\"${cadence}\"/>`;\n    default:\n      return `    <SteadyState Duration=\"${duration}\" Power=\"${power}\" Cadence=\"${cadence}\"/>`;\n  }\n};\n\n// Calculate total duration and add cooldown if needed\nconst totalDuration = intervals.reduce((sum, int) => sum + int.duration, 0);\nconst targetDuration = workout.duration_minutes * 60;\n\nif (totalDuration < targetDuration && targetDuration > 0) {\n  const cooldownDuration = Math.min(300, targetDuration - totalDuration);\n  intervals.push({\n    type: 'cooldown',\n    duration: cooldownDuration,\n    power_pct: 50,\n    cadence: 85\n  });\n}\n\n// Generate interval XML\nconst intervalXML = intervals.map(generateIntervalXML).join('\\n');\n\n// Build complete .zwo file\nconst zwoContent = `<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<workout_file>\n  <author>Dave's AI Cycling Coach</author>\n  <name>${workout.workout_type} - ${workout.scheduled_date.split('T')[0]}</name>\n  <description>${workout.description || 'Rest day'}</description>\n  <sportType>bike</sportType>\n  <tags>\n    <tag name=\"${workout.workout_type}\"/>\n  </tags>\n  <workout>\n${intervalXML}\n  </workout>\n</workout_file>`;\n\n// Create filename\nconst date = workout.scheduled_date.split('T')[0];\nconst filename = `${date}_${workout.workout_type.replace(/\\s+/g, '_')}.zwo`;\n\nconst binaryData = Buffer.from(zwoContent);\n\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: binaryData.toString('base64'),\n      mimeType: 'application/octet-stream',\n      fileName: filename,\n      fileExtension: 'zwo'\n    }\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "5109d671-be4b-4131-8774-20deb7e30d94",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d728ba8c-5096-4267-80e5-f864789d2d5a",
              "leftValue": "={{ $json.query.format }}",
              "rightValue": "zwo",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "e054c636-4de7-4645-8562-2131c68c3928",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fit-generator:5000/generate-fit",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.filename }}"
            },
            {
              "name": "ftp_watts",
              "value": "={{ $json.ftp_watts }}"
            },
            {
              "name": "intervals",
              "value": "={{ $json.intervals }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        176
      ],
      "id": "b42aa84c-d3c9-47ed-96a9-7d6ff3edb6ec",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const workout = $input.first().json;\n\n// Parse intervals if it's a string\nlet intervals = workout.intervals;\nif (typeof intervals === 'string') {\n  intervals = JSON.parse(intervals);\n} else if (!Array.isArray(intervals)) {\n  // Handle empty object {} case\n  intervals = [];\n}\n\n// Build the request body\nreturn {\n  json: {\n    name: workout.workout_type,\n    filename: `${workout.scheduled_date.split('T')[0]}_${workout.workout_type.replace(/\\s+/g, '_')}.fit`,\n    ftp_watts: workout.ftp_watts,\n    intervals: intervals\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        96
      ],
      "id": "f2450ff8-689e-48de-bb51-00761c4387a0",
      "name": "Prepare data"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Workout from Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workout from Database": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "06d52da1-9300-4031-88d6-b4af7114bb7c",
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-11-15T10:52:27.871Z",
      "updatedAt": "2025-11-15T10:52:27.871Z",
      "role": "workflow:owner",
      "workflowId": "5ibOJli5jgbFhswN",
      "projectId": "ufF06KBZ4z9JxMTX",
      "project": {
        "createdAt": "2025-10-04T12:04:43.980Z",
        "updatedAt": "2025-10-04T16:49:46.916Z",
        "id": "ufF06KBZ4z9JxMTX",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}