workflows/strava-callback.json
[{"createdAt":"2025-10-20T16:46:37.232Z","updatedAt":"2025-10-25T12:57:48.283Z","id":"5V36Jhcera9ddAJj","name":"Strava API Callback","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"api/strava/callback","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"cbd1feae-6d35-4021-85cd-7e47fdfee994","name":"Webhook","webhookId":"4953b69c-75bd-4d78-8415-8b9f91117370"},{"parameters":{"method":"POST","url":"https://www.strava.com/oauth/token","sendBody":true,"bodyParameters":{"parameters":[{"name":"client_id","value":"={{ $env.STRAVA_CLIENT_ID }}"},{"name":"client_secret","value":"={{ $env.STRAVA_CLIENT_SECRET }}"},{"name":"code","value":"={{ $node[\"Extract Params\"].json[\"code\"] }}"},{"name":"grant_type","value":"authorization_code"},{"name":"redirect_uri","value":"https://dabosch.fit/webhook/api/strava/callback"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"d7635646-ee92-4e35-8707-ce2ebd560845","name":"Exchange code for tokens"},{"parameters":{"operation":"executeQuery","query":"UPDATE athletes\nSET\n  strava_athlete_id    = {{ $node[\"Exchange code for tokens\"].json[\"athlete\"][\"id\"] }},\n  strava_access_token  = '{{ $node[\"Exchange code for tokens\"].json[\"access_token\"] }}',\n  strava_refresh_token = '{{ $node[\"Exchange code for tokens\"].json[\"refresh_token\"] }}',\n  token_expires_at     = to_timestamp({{ $node[\"Exchange code for tokens\"].json[\"expires_at\"] }}),\n  strava_scope         = NULLIF('{{ $node[\"Exchange code for tokens\"].json[\"scope\"] || \"undefined\" }}','undefined')\nWHERE id = CAST({{ $node[\"Extract Params\"].json[\"athlete_id\"] }} AS integer)\nRETURNING id;\n","options":{"queryReplacement":"={{$json.strava_access_token}},\n{{$json.strava_refresh_token}},\n{{$json.token_expires_epoch}},\n{{ $json.strava_scope_text || null }},\n{{$json.strava_athlete_id}}\n"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1248,0],"id":"95bcaec7-3ee5-4264-a0f1-9c89ed452bb6","name":"Save tokens","credentials":{"postgres":{"id":"3G9vGSZaDuDPmuEG","name":"Postgres account"}}},{"parameters":{"respondWith":"text","responseBody":"<!doctype html><html><body style=\"font-family:system-ui;margin:2rem\">\n<h2>✅ Strava connected</h2>\n<p>You can close this tab and return to the portal.</p>\n</body></html>","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/html"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1472,0],"id":"0907b382-db73-4b33-a3ca-40da13e86a26","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"5b95aa40-13d5-4996-983f-8b77fb15d962","name":"athlete_id","value":"={{ $json[\"query\"][\"state\"] }}","type":"string"},{"id":"bbe1b738-42b8-4131-ba27-8edb6ba0ce4b","name":"code","value":"={{ $json[\"query\"][\"code\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"c7cac0ba-6e13-4485-96c4-a4ea27513eb9","name":"Extract Params"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"69eaff05-5e06-45fd-b00a-b3a04346f3b0","leftValue":"={{ $json[\"success\"].toBoolean() }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,0],"id":"297c7744-218d-4387-a3d4-95ba1b54d2b0","name":"If"},{"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1264,192],"id":"fb5d2c03-3c68-4c58-9bec-7e5405100041","name":"Respond to Webhook1"},{"parameters":{"jsCode":"const params = $node[\"Extract Params\"].json;\nconst tokens = $node[\"Exchange code for tokens\"].json;\n\nreturn [\n  {\n    json: {\n      success: true,\n      athlete_id: params.athlete_id,\n      access_token: tokens.access_token,\n      refresh_token: tokens.refresh_token,\n      expires_at: tokens.expires_at,\n      strava_athlete_id: tokens.athlete.id,\n      strava_scope: tokens.scope ?? null\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,0],"id":"4edd3f8e-75ed-4c83-848a-b59bdaf3018e","name":"Merge Auth Data"},{"parameters":{"operation":"executeQuery","query":"UPDATE athletes\nSET\n  strava_athlete_id = NULL,\n  strava_access_token = NULL,\n  strava_refresh_token = NULL,\n  token_expires_at = NULL,\n  strava_scope = NULL\nWHERE strava_athlete_id = {{ $node[\"Exchange code for tokens\"].json[\"athlete\"][\"id\"] }};\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1040,-96],"id":"37da5bce-52e7-4093-b8a5-5462581306b6","name":"Unlink Previous Owner","credentials":{"postgres":{"id":"3G9vGSZaDuDPmuEG","name":"Postgres account"}}}],"connections":{"Webhook":{"main":[[{"node":"Extract Params","type":"main","index":0}]]},"Exchange code for tokens":{"main":[[{"node":"Merge Auth Data","type":"main","index":0}]]},"Save tokens":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Extract Params":{"main":[[{"node":"Exchange code for tokens","type":"main","index":0}]]},"If":{"main":[[{"node":"Unlink Previous Owner","type":"main","index":0}],[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Merge Auth Data":{"main":[[{"node":"If","type":"main","index":0}]]},"Unlink Previous Owner":{"main":[[{"node":"Save tokens","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eb661c16-be73-46c5-8d0c-61db2902cd02","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-20T16:46:37.232Z","updatedAt":"2025-10-20T16:46:37.232Z","role":"workflow:owner","workflowId":"5V36Jhcera9ddAJj","projectId":"ufF06KBZ4z9JxMTX","project":{"createdAt":"2025-10-04T12:04:43.980Z","updatedAt":"2025-10-04T16:49:46.916Z","id":"ufF06KBZ4z9JxMTX","name":"DAVID ABOSCH <david@recognition-circular.org>","type":"personal","icon":null,"description":null}}]}]