workflows/strava-connect.json
[{"createdAt":"2025-10-19T18:00:41.781Z","updatedAt":"2025-10-20T16:41:20.685Z","id":"1smEFr6UaarzfZqh","name":"Strava · API · Connect","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"/api/strava/connect","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"72ce3178-3466-432f-bfc6-fafe18abbdcc","name":"Webhook","webhookId":"3e797322-bb37-4c13-81d1-5166f0760ddb"},{"parameters":{"jsCode":"const q = $json.query || {};\nconst athleteId = q.athlete_id;\n\nif (!athleteId) {\n  return [{ json: { hasRedirect: false, status: 'error', message: 'Missing athlete_id' } }];\n}\n\nconst clientId = $env.STRAVA_CLIENT_ID;\nif (!clientId) {\n  return [{ json: { hasRedirect: false, status: 'error', message: 'STRAVA_CLIENT_ID is not set in the container env' } }];\n}\n\nconst redirectUri = encodeURIComponent('https://dabosch.fit/webhook/api/strava/callback');\nconst scope = 'read,activity:read_all,profile:read_all';\n\nconst redirect =\n  'https://www.strava.com/oauth/authorize'\n  + '?client_id=' + clientId\n  + '&response_type=code'\n  + '&redirect_uri=' + redirectUri\n  + '&scope=' + scope\n  + '&state=' + athleteId;\n\nreturn [{ json: { hasRedirect: true, status: 'ok', redirect } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"df2c8f5e-1b09-4214-8a74-5c9e3dc83270","name":"Code in JavaScript"},{"parameters":{"respondWith":"redirect","redirectURL":"={{ $json[\"redirect\"] }}","options":{"responseCode":302}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,-48],"id":"f727acd5-caa4-4aee-b4f4-8ebed91e0ecc","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"45694698-b70b-455f-85c0-41be1291088e","name":"","value":"=={{ $json[\"redirect\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,-208],"id":"898641c1-d2da-4ae3-adca-d08bd0d125b9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"56031357-3a52-41f4-a468-bc21d62e17ab","leftValue":"={{ $json[\"hasRedirect\"] }}","rightValue":"ok","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,0],"id":"3631e484-d883-4c0d-aecc-3dc52866468d","name":"If"},{"parameters":{"respondWith":"json","responseBody":"={{ $json[\"body\"] }}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[832,96],"id":"2a6ddc20-aea7-4766-96c4-3ace6a7e7caa","name":"Respond to Webhook1"},{"parameters":{"jsCode":"// Take whatever is in $json and return a stringified body + content type\nreturn [{\n  json: {\n    body: JSON.stringify($json),\n    contentType: 'application/json'\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,96],"id":"df4c1e69-1835-4d8e-9d6d-6c140d7b8da3","name":"Code in JavaScript1"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"If":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bd9d57ed-a2a5-4d54-9cdf-c6fe4eefe7c5","triggerCount":1,"tags":[],"shared":[{"createdAt":"2025-10-19T18:00:41.781Z","updatedAt":"2025-10-19T18:00:41.781Z","role":"workflow:owner","workflowId":"1smEFr6UaarzfZqh","projectId":"ufF06KBZ4z9JxMTX","project":{"createdAt":"2025-10-04T12:04:43.980Z","updatedAt":"2025-10-04T16:49:46.916Z","id":"ufF06KBZ4z9JxMTX","name":"DAVID ABOSCH <david@recognition-circular.org>","type":"personal","icon":null,"description":null}}]}]