workflows/2026-01-02/Athletes_API_Accept_FTP.json
{
  "updatedAt": "2025-12-01T14:10:02.650Z",
  "createdAt": "2025-10-19T10:36:27.625Z",
  "id": "YekHXqG3d1WZ7dwS",
  "name": "Athletes API Accept FTP",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/athletes/ftp/accept",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3af55323-a673-45f1-bf24-e5fb1de4e951",
      "name": "Webhook",
      "webhookId": "03b81222-5808-4815-9f64-c65f957336a7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT public.accept_pending_ftp(CAST({{$json[\"body\"][\"athlete_id\"]}} AS integer));",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "536a54d4-42c5-4702-908f-cd2623d0247e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3G9vGSZaDuDPmuEG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"error\",\"message\":\"Database insert failed\"}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        80
      ],
      "id": "c2241c82-53b8-4fc8-93b4-340dc6692de7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "686466bf-e5bd-453e-b479-c34f9503ad0c",
              "leftValue": "=={{ $json[\"accept_pending_ftp\"] }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "89a5751f-9a67-4b51-9421-c75c0e4bd626",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"ok\",\"message\":\"Ride inserted successfully\"}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        -96
      ],
      "id": "d87b46bd-6800-475b-b3cf-fb21445fc819",
      "name": "Respond to Webhook1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9be9d28a-a873-4057-b779-df46852bce49",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-01T13:56:35.725Z",
      "createdAt": "2025-12-01T13:56:35.725Z",
      "role": "workflow:owner",
      "workflowId": "YekHXqG3d1WZ7dwS",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}