workflows/2026-01-02/FTP_approval.json
{
  "updatedAt": "2025-12-01T14:10:07.816Z",
  "createdAt": "2025-10-19T10:19:43.190Z",
  "id": "EkBMdBWSKp1V8EBe",
  "name": "FTP approval",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM athlete_ftp_summary\nWHERE athlete_id = CAST({{$json[\"query\"][\"athlete_id\"]}} AS integer);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "d7980e4f-590d-4ae2-af58-d09e0bd869ce",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "3G9vGSZaDuDPmuEG",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "e7294e68-4682-4ed1-9d4e-d8baa8d814c5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "path": "api/athletes/summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "134241fa-a666-46d6-8680-702382e53ddd",
      "name": "Webhook",
      "webhookId": "acb8fd68-c32d-41e1-9d09-0f4639aa13ce"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e82aacbd-46db-4797-af8a-30a9360b41da",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-01T13:56:47.240Z",
      "createdAt": "2025-12-01T13:56:47.240Z",
      "role": "workflow:owner",
      "workflowId": "EkBMdBWSKp1V8EBe",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}