workflows/2026-01-02/Generate_AI_Feedback_(Ollama).json
{
  "updatedAt": "2025-12-10T13:59:50.323Z",
  "createdAt": "2025-10-10T09:04:01.517Z",
  "id": "yia2rFVjUKPsAtgv",
  "name": "Generate AI Feedback (Ollama)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7773081b-2c95-4c65-9e70-d885486b9e87",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "c5d58198-d010-4d64-a0c3-9931305eb4de"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1616,
        0
      ],
      "id": "d87f3120-e686-47e1-9b6a-459cd2825b62"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH existing AS (\n  SELECT id FROM athletes WHERE email = '{{$json.body.email}}' LIMIT 1\n)\nINSERT INTO athletes (email, created_at)\nSELECT '{{$json.body.email}}', NOW()\nWHERE NOT EXISTS (SELECT 1 FROM existing);\nSELECT id FROM athletes WHERE email = '{{$json.body.email}}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        256,
        -112
      ],
      "id": "4fa09076-e6fa-4c60-8628-a9fdcb8d9d0f",
      "name": "Find or Create Athlete",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO rides (\n  athlete_id,\n  ride_date,\n  distance_km,\n  duration_min,\n  avg_power_watts,\n  avg_heart_rate,\n  tss,\n  source,\n  created_at\n)\nVALUES (\n  {{$node[\"Find or Create Athlete\"].json[\"id\"]}},\n  ('{{$node[\"Webhook\"].json[\"body\"][\"ride_date\"]}}')::timestamptz AT TIME ZONE 'UTC',\n  {{$node[\"Webhook\"].json[\"body\"][\"distance_km\"]}},\n  {{$node[\"Webhook\"].json[\"body\"][\"duration_min\"]}},\n  {{$node[\"Webhook\"].json[\"body\"][\"avg_power_watts\"]}},\n  {{$node[\"Webhook\"].json[\"body\"][\"avg_heart_rate\"]}},\n  {{$node[\"Webhook\"].json[\"body\"][\"tss\"]}},\n  'webhook',\n  NOW()\n)\nON CONFLICT (athlete_id, ride_date) DO UPDATE\nSET distance_km     = EXCLUDED.distance_km,\n    duration_min    = EXCLUDED.duration_min,\n    avg_power_watts = EXCLUDED.avg_power_watts,\n    avg_heart_rate  = EXCLUDED.avg_heart_rate,\n    tss             = EXCLUDED.tss\nRETURNING id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        -112
      ],
      "id": "12084b72-ae47-4634-b67a-9f432f158822",
      "name": "Insert Ride",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ai_feedback (ride_id, advice, created_at)\nVALUES (\n  {{$node[\"Insert Ride\"].json[\"id\"]}},\n  '{{$node[\"Format AI Response\"].json[\"advice\"]}}',\n  NOW()\n)\nRETURNING id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        0
      ],
      "id": "de1b404e-ec2d-44ba-9490-8d3190120d9e",
      "name": "Insert AI Feedback",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        0
      ],
      "id": "856768e4-c6b1-4467-9e96-58d9d15afada",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"prompt\": \"As a cycling coach, analyze this ride and provide brief, actionable feedback:\\n\\nAthlete: {{$json.body.email}}\\nDate: {{$json.body.ride_date}}\\nDistance: {{$json.body.distance_km}} km\\nDuration: {{$json.body.duration_min}} minutes\\nAvg Power: {{$json.body.avg_power_watts}} W\\nAvg HR: {{$json.body.avg_heart_rate}} bpm\\nTSS: {{$json.body.tss}}\\n\\nProvide specific training advice based on these metrics in 2\u20133 sentences.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ],
      "id": "5babce8e-7a54-4b96-ac61-c7417dc2413e",
      "name": "Ollama Feedback"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "50ee10fc-cb3d-4b4a-8ede-513dd59c7d1b",
              "name": "advice",
              "value": "={{ $json[\"response\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        0
      ],
      "id": "5811161d-a01b-4eb7-bb03-f8ae30644304",
      "name": "Format AI Response"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find or Create Athlete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find or Create Athlete": {
      "main": [
        [
          {
            "node": "Insert Ride",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Ride": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert AI Feedback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Ollama Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Feedback": {
      "main": [
        [
          {
            "node": "Format AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format AI Response": {
      "main": [
        [
          {
            "node": "Insert AI Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.dabosch.fit",
            "x-real-ip": "92.21.131.233",
            "x-forwarded-for": "92.21.131.233",
            "x-forwarded-proto": "https",
            "connection": "upgrade",
            "content-length": "196",
            "user-agent": "curl/8.7.1",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "rider@example.com",
            "ride_date": "2025-10-10T09:00:00Z",
            "distance_km": 42,
            "duration_min": 95,
            "avg_power_watts": 210,
            "avg_heart_rate": 145,
            "tss": 85
          },
          "webhookUrl": "https://dabosch.fit/webhook/generate-feedback",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "443ac963-f550-4314-b36f-de7c95e1ab37",
  "versionCounter": 8,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-01T13:56:51.080Z",
      "createdAt": "2025-12-01T13:56:51.080Z",
      "role": "workflow:owner",
      "workflowId": "yia2rFVjUKPsAtgv",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}