workflows/2026-01-02/Strava_·_Auth_·_Refresh_Token.json
{
  "updatedAt": "2026-01-01T10:35:40.051Z",
  "createdAt": "2025-10-24T07:51:23.545Z",
  "id": "GLRyoR8lo3OBjuTY",
  "name": "Strava \u00b7 Auth \u00b7 Refresh Token",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4a31b7e0-38b2-40bd-b021-e1bee030340a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  strava_athlete_id,\n  strava_access_token,\n  strava_refresh_token,\n  extract(epoch FROM token_expires_at) AS expires_at\nFROM athletes\nWHERE token_expires_at < NOW() + INTERVAL '1 hour'  -- Expiring soon\n   OR token_expires_at IS NULL;                     -- Or never set",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "16ff90f8-3b38-4799-9462-7669f6cd7c06",
      "name": "Load Athlete Token",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a39f187-3e54-4165-b4a9-7d5e66a5e78c",
              "leftValue": "={{$json.strava_refresh_token}}",
              "rightValue": "null",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d62a22a4-bb76-4431-96d3-649ba8d2519a",
              "leftValue": "={{ $json[\"expires_at\"] }}",
              "rightValue": "={{ Math.floor(Date.now() / 1000) + 3600 }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "cd3a265a-79e4-4b78-ad69-c9f9ae75da0d",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.strava.com/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded "
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "180641"
            },
            {
              "name": "client_secret",
              "value": "aeb49644e7efe7ca404f077ca0c5c0b143f8af8d"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{$json.strava_refresh_token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        -80
      ],
      "id": "edd1c76e-1067-4d6b-bc14-0d8ea5354da8",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE athletes\nSET\n  strava_access_token  = '{{ $json[\"access_token\"] }}',\n  strava_refresh_token = '{{ $json[\"refresh_token\"] }}',\n  token_expires_at     = to_timestamp({{ $json[\"expires_at\"] }})\nWHERE id = {{$json.id}}\nRETURNING id;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        -80
      ],
      "id": "f14855b0-7247-43b9-8b46-cedb41bd5c5c",
      "name": "Save New Tokens",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        -80
      ],
      "id": "453cea3e-b515-44f4-8053-e1bc8507d3d8",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://217.76.59.83:3004/api/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{$json.access_token}}"
            },
            {
              "name": "secret",
              "value": "6f71caf3630f9c634fe1f6e128488064d2d37379229f7d74b2938169a6f0338a"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1120,
        -80
      ],
      "id": "31c6e136-e025-49dc-b169-99c728428894",
      "name": "HTTP Request1",
      "retryOnFail": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Load Athlete Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Athlete Token": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Save New Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-01T08:00:51.016+00:00",
          "Readable date": "January 1st 2026, 8:00:51 am",
          "Readable time": "8:00:51 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "01",
          "Hour": "08",
          "Minute": "00",
          "Second": "51",
          "Timezone": "Europe/London (UTC+00:00)"
        }
      }
    ]
  },
  "versionId": "6084ef13-d135-400c-a4ef-92ea989ce98a",
  "versionCounter": 26,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-01T13:57:14.496Z",
      "createdAt": "2025-12-01T13:57:14.496Z",
      "role": "workflow:owner",
      "workflowId": "GLRyoR8lo3OBjuTY",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}