workflows/2026-01-02/Strava_Profile_Sync.json
{
  "updatedAt": "2025-12-26T14:48:48.429Z",
  "createdAt": "2025-12-24T08:17:03.462Z",
  "id": "zpCPj6thiaTaSLiW",
  "name": "Strava Profile Sync",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c069e2e7-e709-43df-9a95-fb81c0129276",
              "name": "strava_athlete_id",
              "value": "={{$json.body.athlete_id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "ea8e5bc4-b545-4a41-bc3b-6ccee072dfaf",
      "name": "Set Athlete ID"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT strava_access_token \nFROM athletes \nWHERE strava_athlete_id = {{$json.strava_athlete_id}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        64
      ],
      "id": "ed8b0115-6bf1-415c-a8c0-7cb25c253277",
      "name": "Get Athlete Token from DB",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.strava.com/api/v3/athlete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Authorization: Bearer {{$json.strava_access_token.trim()}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        -8
      ],
      "id": "29f3bd25-2581-46b9-8ada-ce0b6f2e6b32",
      "name": "Get Athlete Profile"
    },
    {
      "parameters": {
        "url": "https://www.strava.com/api/v3/athlete/zones",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Authorization: Bearer {{$json.strava_access_token.trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        -176
      ],
      "id": "5f035d5a-3e5c-4e3c-baf8-3a4a7a186539",
      "name": "Get Athlete Zones"
    },
    {
      "parameters": {
        "url": "=https://www.strava.com/api/v3/athletes/{{$json.athlete_id.toString()}}/stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Authorization: Bearer {{$json.strava_access_token.trim()}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1344,
        16
      ],
      "id": "78aa3a79-5c5f-4e59-b2e7-ef14443fa11d",
      "name": "Get Athlete Stats"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "athletes",
          "mode": "list",
          "cachedResultName": "athletes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "strava_athlete_id": "={{$json.strava_id}}",
            "strava_ftp": "={{$json.strava_ftp }}",
            "strava_weight_kg": "={{$json.strava_weight_kg }}",
            "name": "= {{$json.strava_profile_data.firstname}} {{$json.strava_profile_data.lastname}}",
            "strava_power_zones": "={{ $json.strava_power_zones }}",
            "strava_profile_synced_at": "={{$now }}",
            "strava_heart_rate_zones": "={{ $json.strava_heart_rate_zones }}",
            "strava_recent_stats": "={{$json.strava_recent_stats }}",
            "strava_ytd_stats": "={{ $json.strava_ytd_stats }}",
            "strava_alltime_stats": "={{$json.strava_alltime_stats }}",
            "strava_profile_data": "={{ $json.strava_profile_data }}"
          },
          "matchingColumns": [
            "strava_athlete_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "training_goal",
              "displayName": "training_goal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weekly_hours_available",
              "displayName": "weekly_hours_available",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "unavailable_days",
              "displayName": "unavailable_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strava_athlete_id",
              "displayName": "strava_athlete_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "strava_access_token",
              "displayName": "strava_access_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strava_refresh_token",
              "displayName": "strava_refresh_token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "token_expires_at",
              "displayName": "token_expires_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "training_goal_type",
              "displayName": "training_goal_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "training_phase",
              "displayName": "training_phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_event_date",
              "displayName": "target_event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "target_event_type",
              "displayName": "target_event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weeks_to_event",
              "displayName": "weeks_to_event",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strava_scope",
              "displayName": "strava_scope",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "environment_preference",
              "displayName": "environment_preference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strava_ftp",
              "displayName": "strava_ftp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_weight_kg",
              "displayName": "strava_weight_kg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_power_zones",
              "displayName": "strava_power_zones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_profile_synced_at",
              "displayName": "strava_profile_synced_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_heart_rate_zones",
              "displayName": "strava_heart_rate_zones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_recent_stats",
              "displayName": "strava_recent_stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_ytd_stats",
              "displayName": "strava_ytd_stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_profile",
              "displayName": "strava_profile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strava_alltime_stats",
              "displayName": "strava_alltime_stats",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "strava_profile_data",
              "displayName": "strava_profile_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        16
      ],
      "id": "b4c56816-90bb-4e0e-849c-eaa72747f57b",
      "name": "Update athlete with Strava Data",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().error) {\n  return {\n    error: true,\n    message: $input.first().error.message,\n    node: $input.first().error.node,\n    timestamp: new Date().toISOString(),\n    athlete_id: $json.athlete_id || 'unknown'\n  };\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        16
      ],
      "id": "8e496fe2-550e-444e-8a35-f08ef4d445b1",
      "name": "Error Handler"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/strava/profile-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        64
      ],
      "id": "720b445a-a274-49d1-a746-a031ed6b3cf5",
      "name": "Webhook",
      "webhookId": "67288cc0-f551-4af4-85a5-47add4c18078"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2464,
        16
      ],
      "id": "e787a203-067d-43eb-acf9-89adc7016990",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba92165c-6bd0-4914-831a-bbc1f2403444",
              "name": "athlete_id",
              "value": "={{$json.id}} ",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -80
      ],
      "id": "1238d6ad-994a-4c5c-b05b-314e3a362af7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -80
      ],
      "id": "5841a28c-71bc-46af-9fa7-fb5b89e8da4e",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        0
      ],
      "id": "c84867c1-9471-405e-979e-c4f6ce5419c8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// All data is in ONE combined object\nconst combined = $json;\n\n// Wrap arrays in objects for n8n's PostgreSQL validation\nreturn {\n  strava_id: combined.id,\n  strava_ftp: combined.ftp || null,\n  strava_weight_kg: combined.weight || null,\n  strava_power_zones: { zones: combined.power?.zones || [] },  // Wrap array in object\n  strava_heart_rate_zones: { zones: combined.heart_rate?.zones || [] },  // Wrap array in object\n  strava_recent_stats: combined.recent_ride_totals || {},\n  strava_ytd_stats: combined.ytd_ride_totals || {},\n  strava_alltime_stats: combined.all_ride_totals || {},\n  strava_profile_data: {\n    id: combined.id,\n    username: combined.username,\n    firstname: combined.firstname,\n    lastname: combined.lastname,\n    city: combined.city,\n    state: combined.state,\n    country: combined.country,\n    sex: combined.sex,\n    weight: combined.weight,\n    ftp: combined.ftp,\n    profile_medium: combined.profile_medium,\n    profile: combined.profile,\n    created_at: combined.created_at,\n    updated_at: combined.updated_at,\n    clubs: combined.clubs || [],\n    bikes: combined.bikes || []\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        16
      ],
      "id": "cdb90266-2a7c-41af-b381-4a48a17daaec",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Set Athlete ID": {
      "main": [
        [
          {
            "node": "Get Athlete Token from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Athlete Token from DB": {
      "main": [
        [
          {
            "node": "Get Athlete Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Athlete Profile": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Athlete Zones": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Athlete Stats": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update athlete with Strava Data": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Athlete ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get Athlete Zones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Athlete Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update athlete with Strava Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dabosch.fit",
            "x-real-ip": "185.205.246.95",
            "x-forwarded-for": "185.205.246.95",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "23",
            "user-agent": "curl/8.5.0",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "athlete_id": 2615877
          },
          "webhookUrl": "https://dabosch.fit/webhook/strava/profile-sync",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "11b2b77b-9594-4bec-a0ff-f03ceb349cc5",
  "versionCounter": 20,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-24T08:17:03.462Z",
      "createdAt": "2025-12-24T08:17:03.462Z",
      "role": "workflow:owner",
      "workflowId": "zpCPj6thiaTaSLiW",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}