workflows/2026-04-28/AI_Agent_Chat.json
{
  "updatedAt": "2026-04-27T20:50:35.068Z",
  "createdAt": "2026-01-04T17:44:09.976Z",
  "id": "2eXVwdlqszVV0FXS",
  "name": "AI Agent Chat",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {
          "frequencyPenalty": 0.1,
          "maxTokens": 2000,
          "responseFormat": "text",
          "presencePenalty": 0.1,
          "temperature": 0.8,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "43a5d793-91f5-41ca-b06f-90f23ba4e446",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "9WPdHt4Mx4pdE2zb",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        832,
        320
      ],
      "id": "9f57a0bb-a4f3-41e2-ae53-35297187f61b",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "dwlrOot2bQn6LFTR",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "availableInChat": true,
        "agentName": "Dave's AI Cycle Coach",
        "agentDescription": "The agent is designed to provide interactive cycle coaching to help amature cyclists train and compete at their best using a range of tools. ",
        "options": {
          "loadPreviousSession": "memory",
          "responseMode": "streaming"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -112,
        -112
      ],
      "id": "a95ed00c-acaa-440b-8717-00a477543eca",
      "name": "When chat message received",
      "webhookId": "3d33e2d0-15b6-4e51-b26d-c9bc45c94bd3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "notesInFlow": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get the athlete's personal profile including FTP, weight, goals, and availability. Use this to personalize advice based on their specific capabilities and objectives",
        "operation": "executeQuery",
        "query": "SELECT \n  json_build_object(\n    'athlete_id', id,\n    'name', name,\n    'ftp', COALESCE(athlete_ftp, strava_ftp, 0),\n    'weight_kg', COALESCE(strava_weight_kg, 0),\n    'wkg', \n      CASE \n        WHEN COALESCE(strava_weight_kg, 0) > 0 \n          THEN ROUND(COALESCE(athlete_ftp, strava_ftp, 0)::numeric / strava_weight_kg, 2)\n        ELSE 0\n      END,\n    'training_goals', COALESCE(training_goal, 'Not specified'),\n    'availability_hours', COALESCE(weekly_hours_available, 0),\n    'target_event_date', target_event_date,\n    'target_event_type', target_event_type,\n    'weeks_to_event', weeks_to_event,\n    'training_phase', training_phase,\n    'profile_date', CURRENT_DATE,\n    'strava_profile_synced', strava_profile_synced_at IS NOT NULL,\n    'power_zones', strava_power_zones,\n    'heart_rate_zones', strava_heart_rate_zones\n  ) as athlete_data\nFROM athletes \nWHERE id = {{ $json.metadata.athlete_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        256,
        240
      ],
      "id": "a1413152-0ec8-46f3-8705-581749c8f097",
      "name": "check_athlete_capabilities",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ride_details AS (\n  SELECT \n    id,\n    ride_date,\n    COALESCE(title, 'Ride') as title,\n    duration_min,\n    tss,\n    avg_power_watts,\n    avg_heart_rate,\n    time_in_power_zones,\n    time_in_heart_rate_zones\n  FROM rides \n  WHERE athlete_id = {{ $json.metadata.athlete_id }}\n    AND ride_date >= CURRENT_DATE - INTERVAL '30 days'\n  ORDER BY ride_date DESC\n  LIMIT 10\n),\nride_summary AS (\n  SELECT \n    COUNT(*) as total_rides,\n    COALESCE(SUM(tss), 0) as total_tss,\n    ROUND(COALESCE(AVG(tss), 0), 1) as avg_tss,\n    ROUND(COALESCE(AVG(avg_power_watts), 0), 0) as avg_power,\n    COUNT(DISTINCT DATE(ride_date)) as days_with_rides\n  FROM rides \n  WHERE athlete_id = {{ $json.metadata.athlete_id }}\n    AND ride_date >= CURRENT_DATE - INTERVAL '30 days'\n)\nSELECT \n  json_build_object(\n    'recent_rides', COALESCE(json_agg(\n      json_build_object(\n        'date', ride_date,\n        'title', title,\n        'duration_minutes', duration_min,\n        'tss', tss,\n        'avg_power', avg_power_watts,\n        'avg_heart_rate', avg_heart_rate,\n        'ftp_percentage', \n          CASE \n            WHEN avg_power_watts IS NOT NULL \n              THEN ROUND((avg_power_watts::numeric / NULLIF((SELECT COALESCE(athlete_ftp, strava_ftp, 242) FROM athletes WHERE id = {{ $json.metadata.athlete_id }}), 0)) * 100, 1)\n            ELSE NULL\n          END,\n        'time_in_power_zones', time_in_power_zones,\n        'time_in_heart_rate_zones', time_in_heart_rate_zones\n      ) ORDER BY ride_date DESC\n    ), '[]'),\n    'summary', json_build_object(\n      'total_rides', COALESCE((SELECT total_rides FROM ride_summary), 0),\n      'total_tss', COALESCE((SELECT total_tss FROM ride_summary), 0),\n      'avg_tss_per_ride', COALESCE((SELECT avg_tss FROM ride_summary), 0),\n      'avg_power', COALESCE((SELECT avg_power FROM ride_summary), 0),\n      'analysis_date', CURRENT_DATE,\n      'days_with_rides', COALESCE((SELECT days_with_rides FROM ride_summary), 0)\n    )\n  ) as ride_data\nFROM ride_details;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        432,
        192
      ],
      "id": "8f47612b-4dc2-42d2-9626-6126f70d5c6b",
      "name": "analyze_recent_training_load",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get the athlete's current training phase, timeline, and progress toward goals. Use this to provide phase-appropriate advice and understand where they are in their training cycle.",
        "operation": "executeQuery",
        "query": "SELECT \n  json_build_object(\n    'phase_name', phase_name,\n    'focus', focus,\n    'duration_weeks', duration_weeks,\n    'start_date', start_date,\n    'today_date', CURRENT_DATE,\n    'days_until_start', GREATEST(0, start_date - CURRENT_DATE),\n    'has_started', CURRENT_DATE >= start_date,\n    'current_week', \n      CASE \n        WHEN CURRENT_DATE >= start_date THEN FLOOR((CURRENT_DATE - start_date) / 7) + 1\n        ELSE 0\n      END,\n    'weeks_until_start', \n      CASE \n        WHEN CURRENT_DATE < start_date THEN CEIL((start_date - CURRENT_DATE) / 7.0)\n        ELSE 0\n      END,\n    'rationale', rationale,\n    'target_metrics', target_metrics,\n    'is_active_phase', CURRENT_DATE >= start_date AND CURRENT_DATE < start_date + (duration_weeks * INTERVAL '7 days'),\n    'phase_status',\n      CASE \n        WHEN CURRENT_DATE < start_date THEN 'future'\n        WHEN CURRENT_DATE >= start_date AND CURRENT_DATE < start_date + (duration_weeks * INTERVAL '7 days') THEN 'active'\n        ELSE 'completed'\n      END\n  ) as phase_data\nFROM training_phases \nWHERE athlete_id = {{ $json.metadata.athlete_id }}\n  AND (completed IS NULL OR completed = false)\nORDER BY start_date DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        576,
        160
      ],
      "id": "d29d244c-469d-4754-bfb6-34a306857127",
      "name": "review_current_training_plan",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the training knowledge base for evidence-based principles, research, and best practices. Use this to provide scientifically-grounded advice and explain training concepts.",
        "tableName": "training_knowledge",
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        848,
        112
      ],
      "id": "b9b33dce-a9f4-4cc7-89b7-4f27bc4f60c3",
      "name": "search_training_research",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are Dave, an experienced cycling coach having a real conversation with ${athleteName}.\n\n=== DYNAMIC DATE SYSTEM ===\nTODAY IS: ${currentDate} - This is ABSOLUTE TRUTH\nCURRENT DATE (ISO): {{$json.metadata.today_iso}}\nTIME: {{$json.metadata.current_time}} {{$json.metadata.timezone}}\n\n=== TEMPORAL MATH ===\nRide data includes full ISO date timestamps (e.g. \"2026-04-25T08:35:01+00:00\").\nCompare ride dates against TODAY'S DATE before describing them.\n- If ride date matches today_iso: \"today\" or \"this morning\"\n- If ride date = today_iso - 1: \"yesterday\"\n- If ride date = today_iso - 2: \"two days ago\"\n- NEVER assume a ride was \"today\" without checking the date against today_iso\n\n=== LISTEN FIRST ===\nBefore using any tool, read this conversation first.\nThe last 25 messages contain everything the athlete has said.\nUse tools only when you genuinely need data, not to re-read the conversation.\nA good coach listens and remembers - don't make them repeat themselves.\n\n=== FOLLOW-UP TRACKING ===\nWhen the athlete says they WILL do something (a workout, check data, try a suggestion),\nremember it. In future conversations, check if they did it and ask about it naturally.\n\n=== CRITICAL RULES ===\n1. USE TODAY'S DATE: ${currentDate} for all calculations\n2. DO NOT hardcode specific dates (no \"April 12th\")\n3. Event dates come FROM TOOLS, not assumptions\n4. Calculate: event_date - today_date (using tool dates)\n5. Trust tool math (days_until_start, phase_status, etc.)\n\n=== CONVERSATION MEMORY ===\nThe current conversation (last 25 messages) is always available.\nRead it before using any memory tools.\nOnly use search tools if the information is NOT in this conversation.\n\n=== TOOL USAGE ===\nUse tools COMBINATORIALLY:\n\u2022 Conversation history + athlete data + training load + research\n\u2022 For nutrition: Use research tools for evidence-based advice\n\u2022 For dates: Use phase/goal tools, never assume\n\n=== COACHING PHILOSOPHY: CRITICAL FRIEND ===\nYou are a CRITICAL FRIEND - supportive but will challenge when needed:\n\u2022 COLLABORATIVE, NOT DIRECTIVE: We work together\n\u2022 EVIDENCE-INFORMED, NOT DOGMATIC: Use research, not just opinions  \n\u2022 ADAPTIVE, NOT RIGID: Adjust based on their feedback\n\u2022 CHALLENGE ASSUMPTIONS: Question their thinking when needed\n\u2022 HOLISTIC: Consider sleep, nutrition, life stress\n\n=== CONVERSATION FLOW: NATURAL & CONSULTATIVE ===\n\u2022 Be COLLABORATIVE, not directive - we work together\n\u2022 Be CONSULTATIVE, not interrogative - understand their perspective\n\u2022 Use questions STRATEGICALLY, not automatically\n\u2022 Focus on immediate context unless asked for plans\n\n=== STRATEGIC QUESTIONING - ABSOLUTE RULES ===\n\u2022 YOU MUST NOT end every response with a question\n\u2022 ENDING WITHOUT A QUESTION IS OFTEN BETTER\n\u2022 When in doubt, END WITH A STATEMENT\n\u2022 Only ask a question when you GENUINELY NEED INFORMATION to proceed\n\n\u2022 Questions should FEEL NATURAL, not FORMULAIC\n\u2022 Use questions to:\n  1. Understand the athlete's perspective (consultative)\n  2. Explore options together (collaborative)\n  3. Check if advice resonates (adaptive)\n  4. Move conversation forward purposefully\n\n\u2022 DO NOT end every response with a question\n\u2022 Sometimes the most consultative response is:\n  - A thoughtful observation\n  - A summary of key points  \n  - An invitation to reflect\n  - A statement that gives space\n\n\u2022 When you DO ask a question:\n  - Make it SINGLE and FOCUSED\n  - Make it OPEN-ENDED (not yes/no)\n  - Make it RELEVANT to their immediate concern\n  - AVOID repetitive patterns (\"What's your gut feeling...\")\n\n=== EMOTIONAL MOMENTS ===\n\u2022 When athlete shares strong emotions (upset, demotivated, questioning):\n  1. ACKNOWLEDGE the emotion fully first\n  2. GIVE SPACE - don't immediately problem-solve\n  3. It's OK to RESPOND without a question\n  4. Sometimes SILENCE (in text) is powerful\n\n=== AVOID THESE PATTERNS ===\n\u2022 \"Looking at your recent training...\" (just discuss the training)\n\u2022 \"I can see...\" boilerplate (integrate information naturally)\n\u2022 Repeating athlete stats they already know\n\u2022 Over-explaining your process - just coach\n\u2022 Robotic data dumps - synthesize tool data into conversation\n\u2022 Re-stating obvious context every response\n\n=== RESPONSE STRUCTURE ===\n1. ACKNOWLEDGE their immediate concern/goal\n2. PROVIDE relevant advice using tools/data\n3. CHALLENGE assumptions if needed (critical friend)\n4. OPTIONALLY: Ask ONE focused question IF NEEDED to continue\n\n=== ABSOLUTE: NO QUESTION WHEN EMOTIONAL ===\n\u2022 When athlete shares emotions (upset, demotivated, questioning):\n  DO NOT ask a question in your response\n  ACKNOWLEDGE the emotion \u2192 GIVE SPACE \u2192 RESPOND without question\n\u2022 Example BAD: \"I'm sorry you feel that way. What specifically is bothering you?\" \u274c\n\u2022 Example GOOD: \"I'm sorry you feel that way. That kind of disappointment takes time to process.\" \u2705\n\n=== EXAMPLE: BAD vs GOOD ===\nBAD: \"I can see you have a race tomorrow. Looking at your data...\"\nGOOD: \"Given your race is tomorrow, [direct response to concern]\"\n\nBAD: \"You're at 242W FTP, 65kg...\" \nGOOD: [Only mention stats if RELEVANT to the point]\n\n=== WHEN TO CHALLENGE (CRITICAL FRIEND) ===\n\u2022 If they're overtraining/undertraining\n\u2022 If goals seem unrealistic vs current fitness\n\u2022 If they're avoiding necessary hard work\n\u2022 If nutrition/sleep habits need improvement\n\u2022 Use research tools to support challenges\n",
          "maxIterations": 10,
          "enableStreaming": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -112
      ],
      "id": "e736d457-3c60-41d4-b060-e83a76652a3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.metadata.athlete_id }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -32,
        128
      ],
      "id": "3ce0e4f8-f7b4-4c5b-9354-60ec9173ed59",
      "name": "Postgres Chat Memory1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  -- Extract clean content from ANY message format\n  CASE \n    -- For AI messages with tool outputs: extract text AFTER the tool output\n    WHEN message->>'type' = 'ai' AND message->>'content' LIKE '[Used tools:%] %' THEN\n      TRIM(SUBSTRING(\n        SPLIT_PART(message->>'content', '] ', 2)  -- Get text after closing bracket\n        FROM 1 FOR 600\n      ))\n    \n    -- For AI messages: clean up any remaining brackets/markup\n    WHEN message->>'type' = 'ai' THEN\n      TRIM(REGEXP_REPLACE(\n        SUBSTRING(message->>'content' FROM 1 FOR 600),\n        '\\[.*?\\]',  -- Remove any [bracketed] content\n        ''\n      ))\n    \n    -- For human messages: just take the content\n    ELSE\n      TRIM(SUBSTRING(message->>'content' FROM 1 FOR 600))\n  END as content,\n  \n  -- Role mapping\n  CASE \n    WHEN message->>'type' = 'human' THEN 'user'\n    WHEN message->>'type' = 'ai' THEN 'assistant' \n    ELSE 'unknown'\n  END as role,\n  \n  -- Timestamp (using ID order as proxy)\n  NOW() - (ROW_NUMBER() OVER (ORDER BY id DESC) * INTERVAL '1 minute') as created_at\n  \nFROM n8n_chat_histories \nWHERE session_id IN ('{{$json.metadata.athlete_id}}', '={{$json.metadata.athlete_id}}')\nORDER BY id DESC \nLIMIT 15;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        752,
        144
      ],
      "id": "6b5c3b64-e9a0-496a-a7a9-e5ab526082c9",
      "name": "Chat Memory Lookup",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    target_event_type,\n    target_event_date,\n    target_event_distance_km,\n    target_ftp_watts,\n    target_weight_kg,\n    weekly_hours_available,\n    training_goal\nFROM athletes \nWHERE id = {{$json.metadata.athlete_id}};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        656,
        320
      ],
      "id": "c90e20b6-531d-4a7e-931f-7e5a586ff2f8",
      "name": "Athlete-Goals",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search past conversations with the athlete for relevant information. Use this when you need to remember something the athlete said previously.",
        "tableName": "chat_messages",
        "topK": 5,
        "options": {
          "columnNames": {
            "values": {
              "contentColumnName": "content"
            }
          },
          "metadata": {
            "metadataValues": [
              {
                "name": "athlete_id",
                "value": "={\"athlete_id\": {{ $json.metadata.athlete_id }}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1136,
        144
      ],
      "id": "a4745f3d-30e1-4b7e-b5aa-5aa39c6c107f",
      "name": "search_embedded_chat",
      "credentials": {
        "postgres": {
          "id": "Zi3x92xWpotlNSK2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1232,
        352
      ],
      "id": "8ec5c5be-6ca8-4f24-987b-70925d4794c6",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "dwlrOot2bQn6LFTR",
          "name": "Ollama account"
        }
      }
    }
  ],
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "search_training_research",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_athlete_capabilities": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "analyze_recent_training_load": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "review_current_training_plan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_training_research": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "When chat message received",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Lookup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Athlete-Goals": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_embedded_chat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "search_embedded_chat",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "action": "sendMessage",
          "chatInput": "can you remember what i said about my commute? how long it is?",
          "sessionId": "athlete-13-1775937353066-4io453cic",
          "currentDate": "Saturday, 25 April 2026",
          "metadata": {
            "athlete_id": "13",
            "user_name": "Athlete 13",
            "today_iso": "2026-04-25",
            "current_time": "20:52",
            "timezone": "Europe/London"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "fef642b3-8f6c-4414-94c9-84e6c5803cc3",
  "activeVersionId": "1fb9a601-20ca-49b1-9e75-6ceb5b2fe819",
  "versionCounter": 600,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-04T17:44:09.976Z",
      "createdAt": "2026-01-04T17:44:09.976Z",
      "role": "workflow:owner",
      "workflowId": "2eXVwdlqszVV0FXS",
      "projectId": "c9ZWKVO1SwZW4DGI",
      "project": {
        "updatedAt": "2025-12-01T10:43:01.110Z",
        "createdAt": "2025-12-01T10:38:40.348Z",
        "id": "c9ZWKVO1SwZW4DGI",
        "name": "DAVID ABOSCH <david@recognition-circular.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d42b7515-3b9e-4344-96cc-445411ac6ac7"
      }
    }
  ]
}